body.dark-mode {
    background-color: #242424 !important;
    filter: invert(1) hue-rotate(180deg) !important;
}
body.dark-mode img,
body.dark-mode svg {
    filter: invert(1) hue-rotate(180deg) !important;
}
